.page-login {
	margin: 200px auto 30px auto;
	width: 450px;
}

.page-login .page-body {
	width: 100%;
	margin-top: 50px;
	background-color: rgba(52, 60, 74, 0.5);
/* 	background-color: #3a4554; */
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
}

.login-head {
	display: block;
	background-color: transparent;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 22px;
	font-weight: 400;
}

.login-body {
	display: block;
	margin: 35px;
	overflow: hidden;
}

.login-avatar {
	margin-top: 15px;
	height: 110px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.login-form {
/* 	padding-left: 40px; */
}

.login-form .form-group {
	margin-top: 20px;
}

.login-form .form-group .form-control {
	background-color: #303a48;
	border: none;
	width: 220px;
	height: 40px;
	color: #fff;
	border-radius: 2;
}

.login-form .form-group .form-control::-moz-placeholder {
	color: #fff;
	opacity: 1;
}

.login-form .form-group .form-control:-ms-input-placeholder {
	color: #fff;
}

.login-form .form-group .form-control::-webkit-input-placeholder {
	color: #fff;
}

.login-form .form-group .form-control:focus {
	background-color: #2b3542;
}

.login-form .form-actions {
	margin-top: 20px;
}

.login-form .form-actions .btn-success {
	background-color: #e76070;
	width: 220px;
	font-weight: 600;
	padding: 10px;
	border: none;
	border-radius: 0;
}

.login-form .form-actions .btn-success:hover {
	background-color: #d75464 !important;
}

.login-bottom {
	display: block;
	background-color: transparent;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.login-bottom a {
	font-size: 14px;
	font-weight: 400;
	color: #638cac;
}

.login-bottom a:hover {
	color: #7ba2c0;
}

.input-group .form-control {
    z-index: 0;
}

.center {
/* 	text-align: center; */
	margin-left: 20%;
}

.checkbox {
/* 	color: red;  */
}

.btn-primary {
    color: #fff;
    background-color: rgba(0,0,0, 0.5);
	border-color: rgba(0,0,0, 0.5);
}

.btn-primary:hover {
    color: #fff;
    background-color: rgba(222,82,75, 0.8);
	border-color: rgba(0,0,0, 0.5);
}

