@IMPORT url("../bootstrap-3.3.7/css/bootstrap.css");

@IMPORT url("../font-awesome-4.7.0/css/font-awesome.css");

@IMPORT url("header.css");

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	/* 	background-color: #25c481; */
	/* 	background-color: #25b7c4; */
	/* 	background-color: #4678B2; */
	/* 	background-color: #F3F0F3; */
/* 		background-color: #EA644A; */
		background: -webkit-linear-gradient(left, #25c481, #25b7c4);
	    background: linear-gradient(to right, #25c481, #25b7c4);
}

.white-text {
	color: #fff;
}

.common-footer {
	position: fixed;
	padding-top: 10px;
	left: 0px;
	bottom: 0px;
	height: 60px;
	color: #ffffff;
	background-color: #323d4b;
	width: 100%;
	font-size: 12px;
}
