body {
	padding-top: 40px;
	padding-bottom: 0px;
	background: -webkit-linear-gradient(left, #d7b49c, #9ba1a2);
	background: linear-gradient(to right, #d7b49c, #9ba1a2);
}

.project-name {
	padding-top: 10px;
	padding-left: 20px;
	font-size: 30px;
	color: #fff;
}

.section {
	margin: 50px;
}

.navbar-user-info-container {
	position: absolute;
	padding-top: 18px;
	width: 400px;
	right: 1px;
}

.navbar-user-info {
	float: left;
	font-size: 14px;
	color: #fff;
}

.user-info {
	float: right;
}

.navbar-logout {
	float: right;
	width: 60px;
	padding-right: 10px;
	font-size: 14px;
	color: #fff;
}

.container-welcome {
	padding-top: 100px;
}

.form-welcome {
	max-width: 600px;
	padding-left: 100px;
	margin: 0 auto;
}

.btn-block-sized {
	max-width: 300px;
}

h1 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin-bottom: 15px;
}

.container-main {
	padding-top: 50px;
	width: 100%;
	height: 100%;
}

.container-main-datatable {
/* 	float: left; */
	width: 100%;
}

.container-main-form {
	float: right;
	width: 400px;
	padding-top: 50px;
}

.container-chart {
/* 	padding-top: 40px; */
/* 	width: 100%; */
	width: 600px;
	height:400px;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.container-footer {
	/* 	padding-top: 40px; */
	/*   margin: auto; */
	
}

.container-footer-space {
/* 	padding-top: 100px; */
}

.footer>.container-footer {
	text-align: center;
	font-size: 80%;
	color: grey;
}

.ui-selectonemenu {
	padding-right: 0 !important;
}

.ui-datatable .ui-datatable-data tr, 
.ui-datatable .ui-datatable-data td,
.ui-datatable .ui-datatable-data-empty tr, 
.ui-datatable .ui-datatable-data-empty td {
	border-style: none;
}

.row-background {
	background: -webkit-linear-gradient(left, #d7b49c, #9ba1a2);
	background: linear-gradient(to right, #d7b49c, #9ba1a2);
}

.ui-datatable-header {
	text-align: left;
	background: -webkit-linear-gradient(left, #25c481, #25b7c4);
	background: linear-gradient(to right, #25c481, #25b7c4);
}

.ui-datatable thead th, .ui-datatable tfoot td {
	text-align: left;
}

.ui-widget-header .ui-state-default{
	background: #a9bdbf;
	border-style: none;
}

.ui-datatable-footer {
	background: #a9bdbf;
	border-style: none;
}

.ui-widget-header tr .ui-state-default tr {
	border-style: none;
}

.ui-datatable-odd {
	background: none repeat scroll 0 0 #b6b7b780;
}

.ui-datatable-even {
	background: none repeat scroll 0 0 #bfc7c8;
}


